.item-container {
  display: flex;
  align-items: center;
}

.item-container>p {
  margin: 0;
  width: 100%;
  min-width: 0;
  word-wrap: break-word;
}

.item-container>p[contenteditable=true] {
  outline: 1px solid black;
}

.item-state-button {
  color: #388E3C;
}

.item-delete-button {
  color: #D32F2F;
}