<div class="item-container">
  <p #input [contentEditable]="isEditable" (keydown.enter)="updateItemDesc(input.textContent!)">
    {{item.description}}</p>

  @if (item.done) {
  <button mat-icon-button class="item-state-button" (click)="updateItemState()">
    <mat-icon>radio_button_checked</mat-icon>
  </button>
  } @else {
  <button mat-icon-button (click)="updateItemState()">
    <mat-icon>radio_button_unchecked</mat-icon>
  </button>
  }

  @if (isEditable) {
  <button mat-icon-button (click)="updateItemDesc(input.textContent!)">
    <mat-icon>save</mat-icon>
  </button>
  } @else {
  <button mat-icon-button (click)="isEditable = !isEditable">
    <mat-icon>edit</mat-icon>
  </button>
  }

  <button mat-icon-button class="item-delete-button" (click)="removeItem()">
    <mat-icon>delete</mat-icon>
  </button>
</div>