<div class="main">
  <h1>{{ componentTitle }}</h1>
  <label for="addItemInput">What would you like to do today?</label>
  <br>
  <input #newItem placeholder="add an item" (keyup.enter)="addItem(newItem.value); newItem.value = ''" type="text"
    class="lg-text-input" name="addItemInput" id="addItemInput" />

  <button class="btn-primary" (click)="addItem(newItem.value); newItem.value = ''" type="button">Add</button>

  <div class="btn-wrapper">
    <button class="btn btn-menu" [class.active]="filter == 'all'" (click)="filter = 'all'">
      All
    </button>

    <button class="btn btn-menu" [class.active]="filter == 'active'" (click)="filter = 'active'">
      To Do
    </button>

    <button class="btn btn-menu" [class.active]="filter == 'done'" (click)="filter = 'done'">
      Done
    </button>
  </div>

  <ul>
    <li *ngFor="let i of items">
      <app-item (remove)="remove(i)" [item]="i"></app-item>
    </li>
  </ul>
</div>