<main class="app-container">
  <mat-card class="app-card">
    <mat-card-header class="app-card-header">
      <mat-button-toggle-group [value]="filter" (change)="filter = $event.value" class="app-filters">
        <mat-button-toggle value="all" id="app-filter">All</mat-button-toggle>
        <mat-button-toggle value="done" class="app-filter">Done</mat-button-toggle>
        <mat-button-toggle value="pending" class="app-filter">Pending</mat-button-toggle>
      </mat-button-toggle-group>
      <button mat-icon-button>
        <a href="http://github.com/oluwis" target="_blank" style="color: #181717">
          <mat-icon svgIcon="github"></mat-icon>
        </a>
      </button>
      <button mat-icon-button (click)="addItem()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content class="app-card-content">
      @if (itemService.getItemsFiltered(filter).length === 0) {
      <div class="app-fallback">
        <p>There are no {{filter === "all" ? "" : filter}} to-do's here.</p>
        <p>You can add one by clicking at the + symbol.</p>
      </div>
      }
      <ng-scrollbar orientation="vertical" visibility="hover">
        @for (item of itemService.getItemsFiltered(filter); track item.id) {
        <app-item [item]="item"></app-item>
        }
      </ng-scrollbar>
    </mat-card-content>
  </mat-card>
</main>